body {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #939597;
}

input[type="text"] {
  border: none;
  box-shadow: none;
  height: 30px;
  outline: 0;
  width: 150px;
  color: #939597;
}

i {
  font-size: 20px;
  color: #f5df4d;
}

h4 {
  font-weight: 300;
  text-transform: capitalize;
}

ul,
.weeklyForecast {
  text-align: center;
}

ul,
.date {
  list-style: none;
  color: #939597;
  text-align: left;
}

small {
  font-size: 12px;
}

.weatherApp {
  border: 2px solid #939597;
  border-radius: 20px;
  box-shadow: 1px 1px #939597;
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin: 50px auto;
  max-width: 600px;
  background-image: url("../img/mainPic.png");
  background-repeat: no-repeat;
  background-position: 22px -40px;
  background-size: 280px;
}

.temperature {
  margin-top: -10px;
  font-size: smaller;
  font-weight: 300;
}
.weekForecast {
  word-spacing: 20px;
}

.icon-1,
.icon-2,
.icon-3 {
  width: 45px;
}

.author {
  color: #939597;
}

::placeholder {
  color: #939597;
  font-size: 13px;
}
